<!DOCTYPE html>
<html>
    <head>
        <title>Jobbannonser</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.main.css">
    </head>
    <body>
        <h1>Jobbannonser</h1>
        <form action="">
            <label for="title">Tittel</label>
            <input type="text" id="title"><br>

            <label for="description">Beskrivelse</label>
            <textarea id="description"></textarea><br>
            <button>Send</button>
        </form>
    </body>
</html>